   body {
      background-color: #f8f9fa;
      min-height: 100vh;
}

.task_table {
    background: #fffdf7;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.06);
}

.table {
    font-size: 0.9rem;
    border-radius: 10px;
    overflow: hidden;
    background: #fffbf2;
}

.sidebar {
    width: 260px;
    height: 100vh;
    background: #fff;
    border-right: 1px solid #ddd;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    }

.sidebar .nav-link.active {
    background: rgba(13, 110, 253, 0.15);
    color: #0d6efd !important;
    font-weight: 600;

}
.logout-btn {
      margin-top: auto;
    }

main {
      margin-left: 260px;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
}

.footer {
      margin-top: auto;
      padding: 1rem 0;
}

.mobile-nav {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      background: white;
      border-top: 1px solid #ddd;
      z-index: 1030;
}

@media (max-width: 991px) {
      main {
        margin-left: 0;
    }
}