{% extends 'main.html' %}
{% load crispy_forms_tags %}

{% block content %}
<!--CREATE A TASK AND ADD IT TO THE LIST OF TASKS-->
<h3>Add Task</h3>
<form action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    
    <input class="btn btn-primary" type="submit" name="" id="">
   <a href="/" class="btn btn-secondary">Cancel</a></button>

</form>
<br><br>
    <!-- <div class="row g-3">
        <div class="col-sm-6">
            <label class="form-label fw-semibold">Priority Level</label>
                {{form.piority_level}}
        </div>

        
        <div class="col-sm-6">
            <label class="form-label fw-semibold">Tag</label>
            {{form.tag}}
        </div>

        <div class="d-flex gap-3">
            <a href="/index"><button class="btn btn-secondary fw-bold px-4">Cancel</button></a>
            <input class="btn btn-primary fw-bold px-4" type="submit" value="Add Task">
        </div>
    </div> -->


{% endblock content %}